@charset "UTF-8";

/*=========================================================
CSS基本設定
FutureShop2 r_system_preset.css
=========================================================*/
/* 初期設定 */
[type="image"]{
	cursor: pointer;
}

/*=========================================================
商品画面：所属する子グループのレイアウトスタイル
=========================================================*/
/*　商品画面：所属する子グループのレイアウトスタイル：パターンD */

.FS2_body_Member_MemberEntryEdit .layout_content .pageTitle {
    font-size: 22px;
    font-size: 1.833rem;
}

.userTable_01 th {
    padding: 12px 10px 12px 20px;
    border: none;
    background: #fff;
    text-align: left;
    font-size: 14px;
    font-size: 1.166rem;
    vertical-align: top;
    white-space: nowrap;
    font-weight: normal;
    
}
.userTable_01 td {
    padding: 12px 10px;
    border: none;
    font-size: 14px;
    font-size: 1.166rem;
}
FS2_body_Member_MemberEntryEdit{
	clear:both;
	font-family: "Noto Sans","ヒラギノ角ゴ Pro W3","Hiragino Kakugo Pro W3","游ゴシック","Yu Gothic","メイリオ",Meiryo,sans-serif;
    font-weight: 100;
}
.FS2_body_Member_MemberEntryEdit .layout_content {
    font-size: 120%;
    line-height: 1.4;
}
#FS2_itemlayout_list_D td{
vertical-align:top;
padding:2px;
}

#FS2_itemlayout_list_D .itemGroup{
	font-weight:normal;
	font-size:80%;
	padding:0px;
	margin:0px;
}

#FS2_itemlayout_list_D .itemGroup .FS2_itemlayout_list_D_arrow{
	font-weight:bold;
	color:red;
}

.FS2_itemlayout_list_D_icon{
	width:3px;
}

.alignItem_01 .FS2_itemlayout_list_D_name{
	width:99%;
}

.alignItem_02 .FS2_itemlayout_list_D_name{
	width:49%;
}

.alignItem_03 .FS2_itemlayout_list_D_name{
	width:33%;
}

.alignItem_04 .FS2_itemlayout_list_D_name{
	width:24%;
}

.alignItem_05 .FS2_itemlayout_list_D_name{
	width:19%;
}

.alignItem_06 .FS2_itemlayout_list_D_name{
	width:16%;
}

.alignItem_07 .FS2_itemlayout_list_D_name{
	width:14%;
}

.alignItem_08 .FS2_itemlayout_list_D_name{
	width:12%;
}

.alignItem_09 .FS2_itemlayout_list_D_name{
	width:11%;
}

.alignItem_10 .FS2_itemlayout_list_D_name{
	width:9%;
}



/*　カート画面：合計金額コンテナ */
/*　カート画面：TadeSafe */
.FS2_TradeSafe div{
	margin:auto;
}


/*=========================================================
会員登録画面
=========================================================*/
.FS2_birthdayOnceMessage{display:block;}


/*　会員画面：レビューページ：購入した商品のレビュー一覧 */
.FS2_MyReviewList_Text:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
	clear: both;
}



/*=========================================================
共通使用セレクタ
=========================================================*/

.gl_Item ul {
		list-style-type: none;
}

/*　Float */
.itemCenter {
	text-align:center;
}

.itemLeft {
	float:left;
}

.itemRight {
	float:right;
}

.itemLeft50 {
	float:left;
	width:48%;
}
.itemRight50 {
	float:right;
	width:48%;
}


/*　文字寄 */
.alignCenter {
	text-align:center;
}

.alignLeft {
	text-align:left;
}

.alignRight {
	text-align:right;
}

/*　dummySubmit */
.dummySubmit {
	position:absolute;
	left:-9999px;
}

.caution {
	color:#ff0000;
}


/*=========================================================
お試し店舗　ヘッダ
=========================================================*/
.FS2_trial table {
	position:relative;
	top:-2px;
}

.FS2_trial td {
	vertical-align:top;
}

.FS2_trial p {
	padding:0px;
	margin:0px;
}


/*=========================================================
スマートフォンへ戻る
=========================================================*/
.FS2_ReturnSP {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding:3px 3px 10px 3px;
	text-align:center;

	background: -moz-linear-gradient(
		top,
		#4a4a4a 0%,
		#000000);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#4a4a4a),
		to(#000000));
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border: 0px solid #ffffff;
	-moz-box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(255,000,217,0);
	-webkit-box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(255,000,217,0);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
}

.FS2_ReturnSP_Btn {
		cursor: pointer;
	width:70%;
	margin:0 auto;
	color: #ffffff;
	padding: 0px 8px;
	background: -moz-linear-gradient(
		top,
		#919191 0%,
		#242424);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#919191),
		to(#242424));
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #000000;
	-moz-box-shadow:
		0px 0px 0px rgba(115,115,115,0),
		inset 0px 0px 1px rgba(145,145,145,1);
	-webkit-box-shadow:
		0px 0px 0px rgba(115,115,115,0),
		inset 0px 0px 1px rgba(145,145,145,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.7),
		0px 0px 0px rgba(255,255,255,0.3);
}


/*========================================================================
　カートスタイル↓↓↓↓↓
======================================================================== */
#fs2_deliveryList{
	width:95%;
}
label[for="fs2_point-none"],
label[for="fs2_point-all"]{
	display:block;
	margin:5px 0;
}
/* cartTable */
.cartTable .FS2_GoodsImage_td,
.FS2_Checkout_CartTable .FS2_GoodsImage_td{
	border-right:none;
}
.cartTable .FS2_GoodsImage_td+.FS2_GoodsName_td,
.cartTable .FS2_cartTable_optionName,
.FS2_Checkout_CartTable .FS2_GoodsImage_td+.FS2_GoodsName_td,
.FS2_Checkout_CartTable .FS2_cartTable_optionName{
	border-left:none;
}
.FS2_cartTable_unitPrice,
.FS2_cartTable_subtotal{
	text-align:right;
}
.FS2_cartTable_point,
.FS2_cartTable_amount,
.FS2_cartTable_delete{
	text-align:center;
}
.FS2_cartTable_unitPrice,
.FS2_cartTable_point,
.FS2_cartTable_amount,
.FS2_cartTable_subtotal{
	white-space:nowrap;
}
.FS2_Cart_memberPriceLabel{
	display:block;
}

/* カートテーブルセル幅設定 */
.FS2_cartTableHeader_unitPrice{width:17%;}
.FS2_cartTableHeader_point{width:10%;}
.FS2_cartTableHeader_amount{width:8%;}
.FS2_cartTableHeader_subtotal{width:13%;}

.FS2_cartTableHeader_goodsName,
.FS2_cartTableHeader_unitPrice,
.FS2_cartTableHeader_point,
.FS2_cartTableHeader_amount,
.FS2_GoodsImage_td{
	white-space:nowrap;
}
/*========================================================================
　カートスタイル↑↑↑↑↑
======================================================================== */



/*========================================================================
　まとめ買い割引関係スタイル↓↓↓↓↓
======================================================================== */


/* ////////// 注文確認画面 /////////// */

/* まとめ買い対象外です */
div.FS2_ExcludedFromVolumeDiscount{
	font-size:10px;
	margin-bottom:5px;
}


/* ////////// ショッピングカート /////////// */

.FS2_VolumeDiscountInformation{
	line-height:1.4;
}

.FS2_VolumeDiscountInformation span{
	display:block;
}
span.FS2_VolumeDiscountNote_Next{
	margin-bottom:5px;
}

span.FS2_VolumeDiscountNote_Coupon,
span.FS2_VolumeDiscountNote_Point{
	font-size:0.80em;
}


/*========================================================================
　まとめ買い割引関係スタイル↑↑↑↑↑
======================================================================== */




/*========================================================================
　マイページ/アドレス帳ページ用　cartTable補正↓↓↓↓↓
======================================================================== */
body.FS2_body_MyPage_AddressList .cartTable th{
	width:auto;
}
/*========================================================================
　マイページ/アドレス帳ページ用　cartTable補正↑↑↑↑↑
======================================================================== */


/*========================================================================
　オリジナルアイコン表示用　↓↓↓↓↓
======================================================================== */
.FS2_original_icons {
	list-style: none outside none;
	padding: 0;
}

.FS2_original_icons li{
	display:inline-block;
	vertical-align:top;
	margin:0 5px 5px 0;
}
/*========================================================================
　オリジナルアイコン表示用　↑↑↑↑↑
======================================================================== */





/*========================================================================
　クレジットカード保持機能用　↓↓↓↓↓
======================================================================== */
/* クレジットカード情報 */
span.FS2_addCreditCardList{
	display:block;
	margin-bottom:10px;
}

.FS2_CardListTable th{
	width:auto;
}

.FS2_CardListTable td{
	text-align:center;
	vertical-align:middle;
}

.FS2_body_MyPage_CreditCardEntry_icons{
	margin-bottom:20px;
}

/* クレジットカード削除 */
body.FS2_body_MyPage_CreditCardDelete .userTable_01 th{
	text-align:right;
}

/* 決済方法選択 */
.FS2_CreditCardInfoComment{
	padding-left:1.2em;
}

.FS2_NewCreditCardDisabled{
	filter: alpha(opacity=60);
	-moz-opacity:0.60;
	opacity:0.60;
}

.FS2_SelectCreditCardArea,
.FS2_InputCreditCardDataArea{
	margin:16px 0 10px 0;
}

/* 定期申込クレジットカード番号変更 */
.FS2_creditcard_caution_container{
	margin-top:12px;
	padding:5px;
	text-align:center;
}


/*========================================================================
　クレジットカード保持機能用　↑↑↑↑↑
======================================================================== */




/*========================================================================
　画像ホスティングalt表示用　↓↓↓↓↓
======================================================================== */

.FS2_additional_image_thumbnail_container{
	display:inline-block;
	vertical-align:top;
}

.FS2_additional_image_btn_thumbnail_container .FS2_thumbnail_container span{
	display:block;
}


/*========================================================================
　画像ホスティングalt表示用　↑↑↑↑↑
======================================================================== */



/*========================================================================
　予約表示関連用　↓↓↓↓↓
======================================================================== */

/* 商品詳細画面 =================================== */

/* 予約受付アイコン */
.FS2_AdvancedOrderIcon{
	display:block;
	margin:5px 0;
}

/* 発売日時 */
.FS2_ReleaseDate{
	display:block;
	margin-bottom:5px;
}

/* 出荷開始予定日 */
.FS2_ReservedItemShippingDate{
	display:block;
}

/* 予約受付期間 */
.reservationPeriod{
	font-weight:bold;
}


/* バリエーション表示（縦方向リストパターン） */
.FS2_PreOrderVariationComment{
	display:block;
	font-size:0.834em;
}


/* 出荷予定日コメント出力箇所 */
table td span.FS2_ShippingDateNote{
	display:block;
	text-align:left;
}

/* カート画面 ================================ */

/* 予約商品注釈 */
div.FS2_PreorderItemCartComment,
div.FS2_ShippingDateCartComment{
		font-size: 10px;
		margin-bottom: 5px;
}


/*========================================================================
　予約表示関連用　↑↑↑↑↑
======================================================================== */





/*========================================================================
　お支払方法選択画面でクーポンコードを入力　↓↓↓↓↓
======================================================================== */

.FS2_CouponCodeInput{
	text-align:center;
	padding:10px 0;
}

.FS2_CouponCodeInput td .error_content{
	margin:0 5px 10px 5px;
}

.FS2_CouponCodeComment{
	font-size:0.834em;
	margin:3px 0 3px 0;
}

.FS2_ApplyCouponButton{
	vertical-align:middle;
}
.FS2_ApplyCouponButton input{
	vertical-align:text-bottom;
}

/*========================================================================
　お支払方法選択画面でクーポンコードを入力　↑↑↑↑↑
======================================================================== */





/*========================================================================
　バンドル割引　カート系画面スタイル　↓↓↓↓↓
======================================================================== */


/* バンドル割引カート系 */

#FS2_bundleInformationBlock{
	margin:20px 0;
	padding:10px;
	border-width:1px;
	border-style:solid;
	clear:both;
}

/* バンドル商品に関するコメント。（自由入力） */
#FS2_bundleCartComment{
	margin:10px 0;
	clear:both;
}

#FS2_bundleTypeList{
	list-style:none;
	margin:10px 0 0 0;
	padding:0;
}

#FS2_bundleTypeList li{
	margin:0 10px 10px 1px;
}

/* 商品名上部注釈コメント */
div.FS2_BundleItemCartComment{
		font-size: 10px;
		margin-bottom: 5px;
}

.FS2_bundleDetailButton{
	display:block;
	text-align:right;
	clear:both;
}

/* オプション価格表示 */
.FS2_option_price_declaration,
.FS2_bundleSubtotal{
	display:block;
}
.FS2_bundleSubtotal{
	border-top-width:1px;
	border-top-style:dotted;
	margin-top:3px;
	padding-top:3px;
	font-weight:bold;
}



/*========================================================================
　バンドル割引　カート系画面スタイル　↑↑↑↑↑
======================================================================== */


/* 「Eメールアドレスを保存する」 */
.FS2_holdEmailAddress{
	text-align:center;
	margin:5px 0;
}



/*========================================================================
　FutureShop2X スタイル　↓↓↓↓↓
======================================================================== */
/* 会員登録 */

#FS2_MembershipCardBlock{
	padding:50px 0;
	text-align:center;
}
/*========================================================================
　FutureShop2X スタイル　↑↑↑↑↑
======================================================================== */



/*========================================================================
　複数お届け購入関連 スタイル　↓↓↓↓↓
======================================================================== */
#FS2_AddresseeSelect>ul {
	text-align: center;
	padding-left:0;
}
#FS2_AddresseeSelect li {
	list-style: none;
	display: inline-block;
	margin: 0 10px;
}

.FS2_AddresseeDescription{
	margin:0 0 50px;
}
.FS2_ChangeNumofDestination{
	display:block;
	text-align:right;
	padding:8px 0;
}

.FS2_DeliveryComment+br{
	display:none;
}
.FS2_DeliveryComment{
	padding:0 0 0.6em 2em;
}
.FS2_DeliveryComment .FS2_Delivery_table03{
	margin-left:0;
}

.FS2_CopyDeliveryButton{
	text-align:center;
	margin-bottom:20px;
}
.FS2_CopyDeliveryButton input{
	padding:4px 10px;
}
/*========================================================================
　複数お届け購入関連 スタイル　↑↑↑↑↑
======================================================================== */


/*========================================================================
　注文確認画面 スタイル　↓↓↓↓↓
======================================================================== */
/* 注文処理中文言非表示 */
#FS2_OrderProcessingComment_container{
	display:none;
}
/*========================================================================
　注文確認画面 スタイル　↑↑↑↑↑
======================================================================== */


/*========================================================================
　フォーム入力アシスト スタイル　↓↓↓↓↓
======================================================================== */

.FS2_assist_container {
	padding-top: 5px;
	margin: 2px 0 3px;
}
.FS2_assist_container::after {
	content: "";
	display: block;
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}

.FS2_assist_message {
	padding: 4px 14px 3px;
	border-radius: 2px;
	background-color: #e55;
	color: #fff;
	width: auto;
	display: block;
	float: left;
}
.FS2_assist_message_large {
	float: none;
}

.FS2_assist_required {
	background: #fff6ee;
}

.FS2_assist_error {
	background: #fdd;
}


.FS2_ui-menu {
	display: block;
	position: absolute;
	z-index:1600;
	width: auto;
	padding:8px;
	margin: 0;
	outline: none;
	border-radius:4px;
	box-shadow: 0px 0px 3px 3px rgba(48,48,48,0.25);
	background-color:rgba(221,221,221,0.9);
	list-style: none;
}
.FS2_ui-menu-item {
	position: relative;
	margin: 0;
	padding: 3px 1em 3px 0.4em;
	cursor: pointer;
	min-height: 0; /* support: IE7 */
	border-top:1px solid rgba(236,236,251,1);
	border-bottom: 1px solid rgba(168,168,183,1);
	background-color:rgba(221,221,221,0);
	color:#333;
}
.FS2_ui-menu-item:first-child{
	border-top:none;
}
.FS2_ui-menu-item:last-child{
	border-bottom: none;
}
.FS2_ui-menu-item.FS2_ui-state-focus,
.FS2_ui-menu-item.FS2_ui-state-active {
	background-color: rgba(48, 48, 48,1);
	color:#ccc;
}


/*========================================================================
　フォーム入力アシスト スタイル　↑↑↑↑↑
======================================================================== */



/*========================================================================
　実店舗在庫表示 スタイル　↓↓↓↓↓↓
======================================================================== */

/* FS2_stripeList ---- */
.FS2_stripeList{
	display:table;
	width:100%;
	margin:0;
	padding:0;
	border-collapse:collapse;
	box-sizing:border-box;
}
.FS2_stripeList>li{
	display:table-row;
	list-style:none;
}
.FS2_stripeList>li:nth-of-type(2n+1){
	background:rgba(122, 122, 122, 0.1);
}
.FS2_storeContentsMain{
	padding:20px 14px;
}
.FS2_storeContentsMain .FS2_itemInfo_block{
	display:table;
	width:100%;
}
.FS2_storeContentsMain .FS2_itemPhoto,
.FS2_storeContentsMain .FS2_itemInfo{
	display:table-cell;
	vertical-align:top;
}
.FS2_storeContentsMain .FS2_itemPhoto{
	width:100px;
	padding-right:16px;
}
.FS2_storeContentsMain .FS2_itemPhoto img{
	width:100%;
}
.FS2_storeContentsMain .FS2_itemInfo>h1{
	font-size:14px;
}
.FS2_storeContentsMain .FS2_itemInfo .FS2_itemNumber{
	display:table;
}
.FS2_storeContentsMain .FS2_itemInfo .FS2_itemNumber>dt,
.FS2_storeContentsMain .FS2_itemInfo .FS2_itemNumber>dd{
	display:table-cell;
}
.FS2_storeContentsMain .FS2_VariationList{
	display:table;
	padding:0;
}
.FS2_storeContentsMain .FS2_VariationList>li{
	display:table-row;
	list-style:none;
}
.FS2_storeContentsMain .FS2_VariationList>li>*{
	display:table-cell;
	box-sizing:border-box;
	padding:8px 5px;
	vertical-align:middle;
}
.FS2_storeContentsMain .FS2_VariationList>li>label{
	display:table-cell;
	padding:0 4px 8px 0;
}
.FS2_storeContentsMain .FS2_VariationList>li>select{
	display:table-cell;
}
.FS2_storeStockStatus-noData{
	margin:18px 0;
	padding:8px;
	text-align:center;
	border:5px solid #fdd;
	background:#fbb;
}
/* StoreStockList */
.FS2_variationSelector_block{
	border-left:3px solid #ddd;
	padding-left:0.6em;
}
.FS2_variationSelector_list{
	margin:1em 0;
	padding:0;
	list-style:none;
}
.FS2_variationSelector_list>li{
	margin-bottom:0.8em;
}
.FS2_stores_block{
	margin-top:20px;
}
.FS2_areaList_container{
	margin:0 0 8px;
}
.FS2_areaList{
	display:table;
	width:100%;
	padding:0;
	table-layout:fixed;
}
.FS2_areaList>li{
	position:relative;
	display:table-cell;
	padding:1px;
	text-align:center;
	vertical-align:middle;
	border-right:2px solid #fff;
	background:#ddd;
}
.FS2_areaList>li:last-child{
	border-right:none;
}
.FS2_areaList>li::after{
	position:absolute;
	top:1px;
	right:1px;
	bottom:1px;
	left:1px;
	display:block;
	content:"";
	border:1px solid #fff;
}
.FS2_areaList>li>a{
	display:block;
	padding:5px;
	text-decoration:none;
	color:#333;
	position:relative;
	z-index:9;
}
.FS2_areaList>li>a:hover{
	background:#eee;
}
.FS2_storeArea_block{
	margin-bottom:20px;
}
.FS2_storeArea_title{
	font-size:14px;
	margin:0;
	padding:4px;
	color:#fff;
	background:#999;
}
.FS2_storeList li>*{
	display:table-cell;
	box-sizing:border-box;
	padding:8px 5px;
	vertical-align:middle;
}
.FS2_storeList .FS2_storeListItem_title,
.FS2_storeList .FS2_storeListItem_stock,
.FS2_storeList .FS2_storeListItem_button{
	border:1px solid #ddd;
}
.FS2_storeList .FS2_storeListItem_title{
	width:76%;
	padding:0;
}
.FS2_storeList .FS2_storeListItem_title>a{
	display:block;
	padding:8px 5px;
	text-decoration:none;
	color:inherit;
}
.FS2_storeList .FS2_storeListItem_title>a:hover{
	text-decoration:underline;
}
.FS2_storeList .FS2_storeListItem_title .FS2_storeAddress{
	font-size:0.8em;
	display:block;
	margin-top:3px;
	padding-top:3px;
	border-top:1px solid #ddd;
}
.FS2_storeList .FS2_storeListItem_stock{
	width:16%;
	text-align:center;
	white-space: nowrap;
}
.FS2_storeList .FS2_storeListItem_button{
	width:8%;
	text-align:center;
	white-space: nowrap;
}
.FS2_storeList .FS2_storeStock_label::after,
.FS2_VariationList .FS2_storeStock_label::after{
	content:" : ";
}
.system_content .FS2_storeList,
.system_content .FS2_VariationList,
.system_content .FS2_areaList
.system_content .FS2_variationSelector_list {
	margin:0;
}

/* StoreStockInfo ---- */
.FS2_storeStock_area{
	margin-top:16px;
}
.FS2_storeStock_area .FS2_storeStockVariationLabel{
	font-weight:bold;
}
.FS2_storeStock_container{
	display:table;
	margin:10px 0 14px;
	border-collapse:collapse;
}
.FS2_storeStock_container .FS2_storeStock_label,
.FS2_storeStock_container .FS2_storeStock_value{
	display:table-cell;
	padding:4px 8px;
	border:1px solid #aaa;
}
.FS2_storeStock_container .FS2_storeStock_label{
	background:rgba(122, 122, 122, 0.1);
}
.FS2_storeStock_container .FS2_storeStock_msg,
.FS2_storeStock_container .FS2_storeStock_extend {
	padding: 5px 10px;
	border: 1px solid #aaa;
}
.FS2_storeStockVariation_area{
	margin:2px 0 16px;
}
.FS2_storeStockVariation_area h2{
	font-size:14px;
	font-weight:bold;
	margin:10px 0 0 0;
	padding:3px 5px;
	color:#fff;
	background:#999;
}
.FS2_VariationList>li>span{
	box-sizing:border-box;
	border:1px solid #eee;
	border-width:1px 0;
}
.FS2_storeList_container{
	display:table;
	width:100%;
	margin:0 0 10px;
	padding:0;
	border-width:2px 0;
}
.FS2_storeList_container>li{
	font-size:12px;
	display:table-row;
	overflow:hidden;
	margin:0;
	border:none;
}
.FS2_storeList_container>li:nth-child(even){
	background:#f6f6f6;
}
.FS2_storeList_container>li>span{
	display:table-cell;
	box-sizing:border-box;
	padding:8px 4px;
	vertical-align:middle;
	word-break:break-all;
}
.FS2_Variation_value{
	width:30%;
}
.FS2_VariationInCartButton_container{
	width:44%;
	margin:0;
	padding:0;
}
.FS2_VariationInCartButton_container>input{
	margin:0;
	padding:4px 5px;
}
.FS2_storeDescription .userTable_01{
	border-collapse:collapse;
}
.FS2_storeDescription .userTable_01>tbody>tr>th,
.FS2_storeDescription .userTable_01>tbody>tr>td{
	padding:5px;
}
.FS2_storeDescription_table{
	width:100%;
	border-collapse:collapse;
}
.FS2_storeDescription_table th,
.FS2_storeDescription_table td{
	line-height:1.1;
	padding:7px 10px 5px;
	border:1px solid #ddd;
}
.FS2_storeDescription_table th{
	font-weight:normal;
	background:rgba(122, 122, 122, 0.1);
}
.FS2_storeDescription_table tbody th{
	text-align:left;
}
.FS2_storeZipcode{
	margin-right:0.5em;
}
.FS2_movetoStoreStockListButton_container{
	margin:20px 0;
	padding:3px 0;
	text-align:center;
}
.FS2_movetoStoreStockListButton{
	font-size:1.2em;
	line-height:1;
	position:relative;
	display:inline-block;
	padding:0.6em 1.8em 0.5em 1.2em;
	cursor:pointer;
	text-decoration:none;
	color:#fff;
	border-radius:3px;
	background:#777;
	box-shadow:1px 1px 3px #ddd;
}
.FS2_movetoStoreStockListButton:hover{
	background-color:#8b8b8b;
}
.FS2_movetoStoreStockListButton:link, .FS2_movetoStoreStockListButton:visited, .FS2_movetoStoreStockListButton:hover, .FS2_movetoStoreStockListButton:active {
	color: #fff;
}
.FS2_movetoStoreStockListButton::after{
	position:absolute;
	top:0;
	right:0.5em;
	bottom:0;
	display:block;
	width:0;
	height:0;
	margin:auto;
	content:"";
	border-width:0.5em 0 0.5em 0.75em;
	border-style:solid;
	border-color:transparent transparent transparent #fff;
}
/* storeInfo ----- */
/* GoodsDetail ----- */
.FS2_storeStockInfo_container{
	margin:20px 0;
}
.FS2_favoriteStoreStock{
	margin:0 0 14px;
}
.FS2_favoriteStoreStock_link,
.FS2_storeStockList_link{
	position:relative;
	display:block;
	padding:6px 10px;
	transition:background-color 0.3s ease-out, color 0.3s linear, border-color 0.3s linear,box-shadow 0.3s ease-out;
	text-decoration:none;
	color:#333;
	border:1px solid #ec9;
	border-right:14px solid #da5;
	border-radius:5px;
	background:#fec;
}
.FS2_favoriteStoreStock_link:hover,
.FS2_storeStockList_link:hover{
	border-color:#c94;
	background:#fdb;
	box-shadow:1px 1px 3px rgba(50, 50, 50, 0.3);
}
.FS2_favoriteStoreStock_link::after,
.FS2_storeStockList_link::after{
	position:absolute;
	top:0;
	right:-10px;
	bottom:0;
	width:0;
	height:0;
	margin:auto;
	content:"";
	border-width:6px 0 6px 6px;
	border-style:solid;
	border-color:transparent transparent transparent #fff;
}
/* GoodsDetail ----- */

/*========================================================================
　実店舗在庫表示 スタイル　↑↑↑↑↑
======================================================================== */




/*========================================================================
　Amazon Pay関連スタイル　↓↓↓↓↓
======================================================================== */

.FS2_OtherServiceLogin_area{
	margin:10px 0;
	text-align:center;
}
.FS2_OtherServiceLoginAreaDivider_container{
	margin:0 0 10px;
}
.FS2_OtherServiceLoginAreaDivider_container .FS2_Divider_line{
	position:relative;
	display:block;
}
.FS2_OtherServiceLoginAreaDivider_container .FS2_Divider_line::before,
.FS2_OtherServiceLoginAreaDivider_container .FS2_Divider_line::after{
	position:absolute;
	top:0.5em;
	display:block;
	width:42%;
	content:"";
	border-width:1px 0 0 0;
	border-style:solid;
	border-color:#aaa;
}
.FS2_OtherServiceLoginAreaDivider_container .FS2_Divider_line::before{
	left:0;
}
.FS2_OtherServiceLoginAreaDivider_container .FS2_Divider_line::after{
	right:0;
}
.FS2_OtherServiceLoginAreaDivider_container .FS2_Divider_label{
	position:relative;
}
.FS2_AnotherLogin_comment{
	font-size:0.9em;
	position:relative;
	margin-bottom:16px;
	padding:0.5em 1em;
	text-align:left;
	border:1px solid #ccc;
	border-radius:0.5em;
	background:rgba(220, 220, 220, 0.3);
}
.FS2_AnotherLogin_comment::after{
	position:absolute;
	right:0;
	bottom:-12px;
	left:0;
	display:block;
	width:0;
	height:0;
	margin:auto;
	content:"";
	border-width:12px 8px 0;
	border-style:solid;
	border-color:#ccc transparent transparent;
}
.FS2_OtherLoginCompleted_comment{
	margin:10px 0;
	padding:10px 14px;
	color:#333;
	border:5px solid #eee;
	background:#f9f9f9;
}
.FS2_OtherLoginCompleted_comment p{
	margin:0;
}
/* Login control */
.FS2_body_CheckoutInProgress .FS2_login_layout_table_td_right{
	display:none;
}
.FS2_body_Login_Login.FS2_body_RegisteredUser .FS2_login_layout_table_td_right,
.FS2_body_ReviewLogin.FS2_body_RegisteredUser .FS2_login_layout_table_td_right,
.FS2_body_WishListLogin_Login.FS2_body_RegisteredUser .FS2_login_layout_table_td_right {
	display: none;
}
.FS2_body_CouponLogin.FS2_body_RegisteredUser .FS2_SignUp_area {
	display: none;
}
.FS2_body_Cart_GuestLogin.FS2_body_RegisteredUser .FS2_login_layout_table_td_right input[name="entry"],
.FS2_body_FixedPeriodGuestLogin.FS2_body_RegisteredUser .FS2_login_layout_table_td_right input[name="entry"] {
	display: none;
}
.FS2_body_Cart_GuestLogin.FS2_body_RegisteredUser .FS2_login_layout_table_td_right{
	display:table-cell;
}
.FS2_body_Cart_GuestLogin.FS2_body_RegisteredUser .FS2_login_layout_table_td_right input[name="entry"]{
	display:none;
}
/* CouponLogin */
.FS2_CouponLogin_area{
	display:table;
	box-sizing:border-box;
	width:100%;
}
.FS2_CouponLogin_area>*{
	display:table-cell;
}
.FS2_CouponLogin_area .FS2_OtherServiceLogin_area{
	position:relative;
	width:50%;
	padding-left:8em;
	vertical-align:middle;
}
.FS2_CouponLogin_area .FS2_OtherServiceLoginAreaDivider_container{
	position:absolute;
	top:0;
	bottom:0;
	left:2em;
	width:5em;
	margin:auto;
	text-align:center;
}
.FS2_CouponLogin_area .FS2_OtherServiceLoginAreaDivider_container .FS2_Divider_line{
	position:absolute;
	top:0;
	bottom:0;
}
.FS2_CouponLogin_area .FS2_OtherServiceLoginAreaDivider_container .FS2_Divider_line::before,
.FS2_CouponLogin_area .FS2_OtherServiceLoginAreaDivider_container .FS2_Divider_line::after{
	left:2.5em;
	height:46%;
	border-width:0 0 0 1px;
}
.FS2_CouponLogin_area .FS2_OtherServiceLoginAreaDivider_container .FS2_Divider_line::after{
	top:auto;
	bottom:0;
}
.FS2_CouponLogin_area .FS2_OtherServiceLoginAreaDivider_container .FS2_Divider_label{
	line-height:1;
	position:absolute;
	top:1em;
	bottom:0;
	left:0;
	width:5em;
	height:1.5em;
	margin:auto;
}
/* ShoppingCart */
.FS2_SelectCheckoutService_area{
	margin:40px 0 20px;
	padding:10px;
	border:5px solid #eee;
}
.FS2_SelectCheckoutService_area .FS2_OtherServiceLoginAreaDivider_container{
	left:50%;
}
.FS2_CheckoutService_area{
	display:table;
	box-sizing:border-box;
	width:100%;
}
.FS2_CheckoutService_area .FS2_CheckoutServiceComment_container,
.FS2_CheckoutService_area .FS2_CheckoutServiceButton_container{
	display:table-cell;
	text-align:left;
	vertical-align:middle;
}
.FS2_CheckoutService_area .FS2_CheckoutServiceComment_container{
	padding-right:1em;
}
.FS2_CheckoutService_area .FS2_CheckoutServiceButton_container{
	width:40%;
	text-align:right;
}
.FS2_CheckoutService_area .FS2_CheckoutServiceButton_container.FS2_CheckoutServiceDisabledButton_container{
	width:297px;
}
.FS2_CheckoutServiceDisabledButton{
	position:relative;
	float:right;
	box-sizing:border-box;
	width:297px;
	padding:8px 12px 7px 36px;
	text-align:center;
	color:#fff;
	border:1px solid #999;
	border-radius:5px;
	background:#aaa;
}
.FS2_CheckoutServiceDisabledButton::before,
.FS2_CheckoutServiceDisabledButton::after{
	position:absolute;
	top:0;
	bottom:0;
	left:10px;
	display:block;
	width:14px;
	height:14px;
	margin:auto;
	content:"";
	border:2px solid #fff;
}
.FS2_CheckoutServiceDisabledButton::before{
	border-radius:50%;
}
.FS2_CheckoutServiceDisabledButton::after{
	top:10px;
	left:17px;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	transform:rotate(-45deg);
	border-width:2px 0 0;
}
.FS2_CheckoutServiceDisabled_comment{
	float:right;
	box-sizing:border-box;
	width:296px;
	margin-top:6px;
	padding-left:6px;
	text-align:left;
	border-left:3px solid #dcc;
}
.FS2_CheckoutServiceDisabled_comment p{
	line-height:1.4;
	margin:0;
}
/*========================================================================
　Amazon Pay関連スタイル　↑↑↑↑↑
======================================================================== */





/*========================================================================
　LINE関連スタイル　↓↓↓↓↓
======================================================================== */
.FS2_AnotherLogin_area + .FS2_AnotherLogin_area {
  margin-top: 35px;
}

.FS2_LineAddFriend_area {
  margin-bottom: 40px;
}

.FS2_LineAddFriendButton_container,
.FS2_LineIdLinkButton_container,
.FS2_LineExportProfileButton_container {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.FS2_LineAddFriendButton,
.FS2_LineIdLinkButton,
.FS2_LineExportProfileButton {
  cursor: pointer;
}

.FS2_LineImportProfileButton_container {
  text-align: center;
  margin: 30px auto;
  width: 36%;
}

.FS2_LineIdLinkComplete_comment {
  margin-top: 25px;
  margin-bottom: 25px;
}

/* Login Control */
.FS2_body_LineIdLinkLogin.FS2_body_RegisteredUser .FS2_login_layout_table_td_right,
.FS2_body_LineIdLinkLogin.FS2_body_RegisteredUser .FS2_LineLoginCompleted_comment {
  display: none;
}

/*========================================================================
　LINE関連スタイル　↑↑↑↑↑
======================================================================== */



/* ログイン情報 */
.FS2_repeater{
	display: none;
}


/* JSで表示させるエレメント用 */
.FS2_hiddenElement{
	display: none;
}

/*========================================================================
　Modal　↓↓↓↓↓
======================================================================== */
/* common */
.FS2_Modal {
  display: none;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483647;
}

.FS2_ModalContents {
  background: #fff;
  flex-basis: 500px;
  max-width: 500px;
  min-height: 400px;
  padding: 20px;
}
.FS2_Modal input[type="radio"] {
  display: none;
}
/*========================================================================
　Modal　↑↑↑↑↑
======================================================================== */

/*========================================================================
　CreditCardInputArea　↓↓↓↓↓
======================================================================== */
/* FixedPeriodHistoryDetail. */
.FS2_FixedPeriodHistoryDetail_CreditCardModal .FS2_CreditCardActionButtons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-content: center;
  margin: 20px 0;
}
.FS2_FixedPeriodHistoryDetail_CreditCardModal .FS2_CreditCardActionButtons::after {
  display: none;
}
.FS2_FixedPeriodHistoryDetail_CreditCardModal .FS2_CreditCardModifyButton {
  background: #ffa234;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #aaa;
  color: #fff;
  cursor: pointer;
  font-size: inherit;
  padding: 5px 20px;
}
.FS2_FixedPeriodHistoryDetail_CreditCardModal .FS2_CancelProcessButton {
  border: none;
  background: none;
  color: #4b87b2;
  cursor: pointer;
  font-size: 90%;
  margin: 3px 0px;
  padding: 0px;
}
.FS2_FixedPeriodHistoryDetail_CreditCardModal .FS2_CreditCardModifyProcessingComment {
  display: none;
  margin-top: 30px;
  text-align: center;
}
/*========================================================================
　CreditCardInputArea　↑↑↑↑↑
======================================================================== */

.FS2_CreditCardDetail .FS2_SettleCreditExplainArea{
	display: none;
}


/*========================================================================
　定期複数商品　↓↓↓↓
======================================================================== */

.FS2_cycleNameCartComment {
  margin: 8px 0;
}

.FS2_moveToAnotherCart {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.FS2_FixedPeriodPriceList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.FS2_FixedPeriodPrice_usual:only-child > .FS2_FixedPeriodPriceLabel {
  display: none;
}

.FS2_CycleNameCartCommentCourse::before {
  content: "（";
}
.FS2_CycleNameCartCommentCourse::after {
  content: "）";
}

.FS2_FixedPeriodHistory_NextDelivery,
.FS2_FixedPeriodHistory_DeliveryStatus {
  display: flex;
  align-items: center;
}

.FS2_SkipNextDeliveryButton_container {
  margin: 0 0 16px;
  text-align: right;
}

.FS2_ModalActionButtons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-content: center;
  margin: 20px 0;
}

.FS2_CancelProcessButton {
  border: none;
  background: none;
  color: #4b87b2;
  cursor: pointer;
  font-size: 90%;
  margin: 3px 0px;
  padding: 0px;
}

.FS2_ModalProcessingComment {
  display: none;
}

.FS2_FixedPeriodHistoryDetail_ModifyDeliveryDateModal .FS2_ModifyDeliveryDateSaveButton {
  background: #ffa234;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #aaa;
  color: #fff;
  cursor: pointer;
  font-size: inherit;
  padding: 5px 20px;
}
.FS2_FixedPeriodHistoryDetail_ModifyDeliveryDateModal .FS2_CancelProcessButton {
  border: none;
  background: none;
  color: #4b87b2;
  cursor: pointer;
  font-size: 90%;
  margin: 3px 0px;
  padding: 0px;
}

/*========================================================================
　定期複数商品　↑↑↑↑↑
======================================================================== */
